.v-list {
    width: 100%;
    margin: auto;
}

.v-detail {
    width: 100%;
    margin: auto;
    text-align: left;
}

.v-contents {
    padding: 20px 8px;
    border-bottom: 1px solid #eee;
}

.v-common-buttons {
    padding: 8px;
    text-align: right;
}


